// import partials
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss" as *;

.about {
    padding-block: 0.5rem;
    padding-inline: 1.5rem;

    @include tablet {
        padding-block: 1rem;
        padding-inline: 7rem;
    }

    @include desktop {
        padding-block: 1rem;
        padding-inline: 15rem;
    }

    /* change to in-line styling for avatar?? */
    &__avatar {
        width: 150px !important;
        height: 150px !important;

        @include tablet {
            width: 175px !important;
            height: 175px !important;
        }

        @include desktop {
            width: 200px !important;
            height: 200px !important;
        }

        &-description {
            font-size: 0.75rem;
            font-style: italic;
        }
    }

    &__wrapper {
        @include flex-box(column);
        gap: 1rem;

        &--texts {
            @include tablet {
                width: 50%;
                // background: blue;
            }

            @include desktop {
                width: 50%;
            }
        }

        &--texts-avatar {
            @include tablet {
                @include flex-box(row);
                align-items: center;
                // background: red;
            }

            @include desktop {
                @include flex-box(row);
                gap: 2rem;
                margin-top: 1rem;
            }
        }

        &--avatar-description {
            @include flex-box(column);
            align-items: center;

            @include desktop {
                width: 35%;
            }

            // @include tablet {
            //     @include flex-box(column);
            //     align-items: center;
            // }
        }

        &--desktop {
            @include desktop {
                width: 100%;
                @include flex-box(row);
                justify-content: space-between;
            }
        }

        &--experience {
            @include desktop {
                width: 100%;
                margin-top: 1rem;
            }
        }
    }

    &__header {
        @include m-page-header($global-header);
    }

    &__subheader {
        @include m-sub-header($global-primary-subheader);
        margin-bottom: 1rem;
        // background: green;

        @include desktop {
            width: 100%;
            margin-block: 0 1rem;
        }

        &--small {
            @include m-sub-header-small($global-secondary-subheader);
            margin-top: 0;
        }
    }

    &__experience {
        &--columned-rows {
            @include tablet {
                @include flex-box(row);
                flex-wrap: wrap;
                justify-content: space-between;
            }

            @include desktop {
                width: 100%;
                @include flex-box(row);
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1rem;
                // background: red;
            }
        }
    }

    &__text {
        @include m-body($global-text);

        &--experience {
            margin: 0.25rem;
        }

        &--tech-skills {
            text-align: center;
        }

        &--soft-skills {
            color: white;
            margin: 0 auto;
        }
    }

    &__skills {
        @include desktop {
            padding-inline: 4rem;
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;

        &--tech-skills {
            @include flex-box(row);
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
        }

        &--soft-skills {
            @include flex-box(column);
            justify-content: center;
            align-items: center;
            gap: 1rem;

            @include tablet {
                @include flex-box(row);
                flex-wrap: wrap;
                gap: 1rem;
            }
        }
    }

    &__item {
        @include flex-box(row);
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        &--tech-skills {
            @include flex-box(column);
            // background: red;
            // @include flex-box(row);
            // flex-wrap: wrap;
            margin: 0;
        }

        &--soft-skills {
            background-color: #C5705D;
            width: 75%;
            border-radius: 1.25rem;
            padding-block: 0.25rem;
            padding-inline: 1rem;
            margin-bottom: 0;
        }
    }

    &__logo {
        width: auto;
        height: 2.5rem;
    }
}

.skill {
    &__icon {
        width: auto;
        height: 3.125rem;
    }

    &__name {
        @include m-label($global-text);
        font-size: 0.6rem;
        margin: 0;
    }
}