// import partials
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

a {
    width: 100%;
    text-decoration: none;
}

.navbar__text {
    font-family: "Gaegu", sans-serif;
    font-size: 1.4rem; 
    color: $global-text;
    text-transform: uppercase;
    text-align: center !important;
    margin: 0 !important;
}