// import styling
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.tab {
    color: $global-text !important;
    font-size: .875rem !important;

    &.Mui-selected {
        @include m-body($white !important);
        background-color: $teal;
        border-bottom: .0625rem solid $tab-hover-border;
        border-radius: .25rem;
    }

    &:hover {
        background-color: $tab-hover;
        color: $white !important;
        border-bottom: .0625rem solid $white;
        border-radius: .25rem;
    }

    &__panel {
        background-color: $tab-panel-bg;
        @include m-body($tab-text);
        padding: 1rem;
        border-radius: 0.25rem;

        @include tablet {
            @include td-body($tab-text);
            padding: 2rem;
        }

        @include desktop {
            @include td-body($tab-text);
            padding: 2.5rem;
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        &--education {
            margin-top: 2rem;
        }

        &--description-text {
            margin-bottom: 0;
        }

        &--fun {
            @include flex-box(row);
            gap: 0.5rem;
            align-items: center;
        }
    }

    &__title-year-container {
        @include flex-box(row);
        align-items: center;
        gap: 0.5rem;
    }

    &__description-container {
        @include flex-box(column);
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    &__text {
        &--title {
            color: $tab-text-title;
            margin: 0;
        }

        &--year {
            margin: 0;
        }

        &--school, &--field, &--grade {
            padding-left: 1.5rem;
            margin: 0;
        }
    }
}

.tabs {
    &-container {
        width: 100%;
    }
}

.italics {
    color: $tab-text-italics;
    font-style: italic;
}