@font-face {
    font-family: "Garet Book";
    src: url("../../assets/fonts/Garet-Book.woff2") format("woff2"),
        url("../../assets/fonts/Garet-Book.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garet Book";
    src: url("../../assets/fonts/Garet-Book.woff2") format("woff2"),
        url("../../assets/fonts/Garet-Book.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garet";
    src: url("../../assets/fonts/Garet-Heavy.woff2") format("woff2"),
        url("../../assets/fonts/Garet-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garet";
    src: url("../../assets/fonts/Garet-Heavy.woff2") format("woff2"),
        url("../../assets/fonts/Garet-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garet Book";
    src: url("../../assets/fonts/Garet-Book.woff2") format("woff2"),
        url("../../assets/fonts/Garet-Book.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garet";
    src: url("../../assets/fonts/Garet-Heavy.woff2") format("woff2"),
        url("../../assets/fonts/Garet-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garet";
    src: url("../../assets/fonts/Garet-Heavy.woff2") format("woff2"),
        url("../../assets/fonts/Garet-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garet Book";
    src: url("../../assets/fonts/Garet-Book.woff2") format("woff2"),
        url("../../assets/fonts/Garet-Book.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}