/* import styling */
@use "./fonts.scss" as *;
@use "./variables.scss" as *;
@use "./fonts.scss" as *;

/* mobile media query mixin */
@mixin mobile {
    @media (max-width: 320px) {
        @content;
    }
}

/* tablet media query mixin */
@mixin tablet {
    @media (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
}

/* desktop media query mixin */
@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

/* mobile text style mixins */
@mixin m-page-header($color) {
    font-family: "Gaegu", sans-serif;
    font-size: 2.5rem;
    color: $color;
    line-height: 0;
}

@mixin m-sub-header($color) {
    font-family: "Gaegu", sans-serif;
    font-size: 1.5rem;
    color: $color;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin m-sub-header-sm($color) {
    font-size: .875rem;
    color: $color;
}

@mixin m-body($color) {
    font-size: .75rem;
    color: $color;
}

/* tablet and desktop text style mixins */
@mixin td-page-header($color) {
    font-size: 2rem;
    color: $color;
    margin-bottom: 0;
}

@mixin td-sub-header($color) {
    font-size: 1.125rem;
    color: $color;
}

@mixin td-body($color) {
    font-size: .875rem;
    color: $color;
}

/* flex-box mixin */
@mixin flex-box ($direction) {
    display: flex;
    flex-direction: $direction;
}