$light-grey: #EEEEEE;
$teal: #76ABAE;
$medium-black: #222831;
$light-black: #31363F;
$navy: #2C394B;
$space-navy: #334756;
$orange-red: #FF4C29;
$white: #FFFFFF;
$black: #000000;

/* global descriptive variables */
$global-background: $black;
$global-header: $teal;
$global-subheader: $teal;
$global-text: $medium-black;

/* tab descriptive variables */
$tab-text: $medium-black;

/* card slide descriptive variables */
$card-background: $white;
$card-subheader: $teal;
$card-text: $medium-black;
$card-tools-text: $white;
$slide-btn-border: $medium-black;
$slide-dot-border: $medium-black;