$white: #FFFFFF;
$black: #000000;
$black-medium: #222831;
$black-light: #31363F;
$light-grey: #EEEEEE;
$oat: #FBFBFB;
$dark-lavender: #6962AD;
$light-blue: #789DBC;
$pale-orange: #FFB26F;
$pale-red: #C5705D;

/* global descriptive variables */
$global-background: $oat;
$global-header: $dark-lavender;
$global-primary-subheader: $light-blue;
$global-secondary-subheader: $pale-orange;
$global-text: $black-medium;
$global-label: $black-medium;

/* header navbar descriptive variables */
$navbar-primary-text: $black-medium;
$navbar-accent-text: $pale-orange;
$navbar-link-hover: $pale-orange;
$navbar-secondary-link-hover: $black-medium;

/* hero descriptive variable */
$hero-header: $dark-lavender;

/* footer descriptive variable */
$footer-text: $white;
$footer-button-text: $black-medium;
$footer-button: $white;
$footer-hover-text: $light-blue;
$footer-hover-border: $light-blue;

/* button descriptive variables */
$button-primary-color: $dark-lavender;
$button-secondary-color: $light-blue;
$button-tertiary-color: $pale-orange;
$button-primary-text: $white;
$button-secondary-text: $black;
$button-hover-text: $black-medium;
$button-hover-border: $black-medium;

/* modal descriptive variables */
$modal-bg: $white;
$modal-title: $pale-red;
$modal-close-btn-bg: $light-grey;
$modal-text-link: $dark-lavender;