$navy: #2C394B;
$space-navy: #334756;
$orange-red: #FF4C29;
$white: #FFFFFF;
$black: #000000;
$black-medium: #222831;
$black-light: #31363F;
$light-grey: #EEEEEE;
$teal: #76ABAE;

/* global descriptive variables */
$global-background: $black;
$global-header: $teal;
$global-subheader: $teal;
$global-text: $black-medium;

/* tab descriptive variables */
$tab-text: $black-medium;
$tab-hover: $black-light;

/* card slide descriptive variables */
$card-background: $white;
$card-subheader: $teal;
$card-text: $black-medium;
$card-tools-text: $white;
$slide-btn-border: $black-medium;
$slide-dot-border: $black-medium;