// import partials
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss" as *;

@keyframes levitate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.625rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes wiggle {
    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }
}

.hero {
    @include flex-box(column);
    align-items: center;
    width: 100%;
    height: 91.7vh;
    max-height: 100%;
    background-image: url("/assets/images/hero-background.jpg");
    background-size: cover;

    &__container {
        // background: red;
        height: 100%;
        @include flex-box(column);
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1.5rem 0 1.5rem;
        overflow: hidden;

        @include tablet {
            height: 100%;
            padding-inline: 10rem;
        }
        
        @include desktop {
            // height: 93%;
            // justify-content: flex-start;
            // padding-inline: 10rem;
        }
    }

    &__overlay {
        position: relative;
    }

    &__overlay::before {
        content: "";
        background-color: $hero-overlay;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; 
        border-radius: 1.25rem;
        opacity: 60%;
        z-index: 1;
    }

    &__header {
        font-family: $hero-header-font;
        font-size: 4.5rem;
        line-height: 4rem;
        margin: 0;

        @include tablet {
            text-align: center;
            font-size: 6rem;
        }

        @include desktop {
            text-align: center;
            font-size: 6rem;
        }
    }

    &__text {
        position: relative;
        font-size: 1rem;
        text-align: center;
        border-radius: 1.25rem;
        padding: 0.25rem 1rem;
        z-index: 2;

        &--lavender {
            color: $hero-name-text;
        }
    }

    &__cta {
        @include flex-box(row);
        justify-content: center;
        gap: 1rem;
    }

    &__button {
        font-family: $hero-button-font;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin: 0;
        flex: 1;

        &-link {
            display: inline-block;
        }

        &--linkedin {
            background-color: $button-secondary-color;
            color: $button-primary-text;
            border: .0625rem solid $button-secondary-color;
            border-radius: 1.25rem;
            padding: 0.25rem 1rem;

            &:hover {
                background-color: transparent;
                color: $button-hover-text;
                border: .0625rem solid $button-hover-border;
                transition: 0.5s ease-in-out;
                cursor: pointer;
            }
        }

        &--github {
            background-color: $button-primary-color;
            color: $button-primary-text;
            border: .0625rem solid $button-primary-color;
            border-radius: 1.25rem;
            padding: 0.25rem 1rem;

            &:hover {
                background-color: transparent;
                color: $button-hover-text;
                border: .0625rem solid $button-hover-border;
                transition: 0.5s ease-in-out;
                cursor: pointer;
            }
        }
    }

    &__character {
        width: auto;
        max-height: 50%;
        animation: levitate 3s ease-in-out infinite;

        @include tablet {
            width: auto;
            max-height: 55%;
            margin-bottom: 1rem;
        }

        @include desktop {
            max-height: 60%;
            margin-bottom: 1rem;
        }
    }

    &__arrow-icon {
        color: $global-text;
        animation: wiggle 3s ease-in-out infinite;
        // margin-top: 3rem;

        @include tablet {
            margin-top: 4rem;
        }
    }
}

/* aligns down arrow icon */
a {
    text-align: center;
}