// import styling
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss" as *;

@keyframes levitate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.625rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes wiggle {
    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }
}

.hero {
    @include flex-box(column);
    // justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/images/hero-background.jpg");
    background-size: cover;

    &__container {
        height: 91%;
        @include flex-box(column);
        justify-content: center;
        align-items: center;
        flex-wrap: no-wrap;
        padding: 1.5rem;

        @include tablet {
            justify-content: flex-start;
            padding-inline: 10rem;
        }
    }

    &__overlay {
        position: relative;
    }

    &__overlay::before {
        content: "";
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; 
        border-radius: 1.25rem;
        opacity: 60%;
        z-index: 1;
    }

    &__header {
        font-family: "Gaegu", sans-serif;
        font-size: 5rem;
        line-height: 4.5rem;
        margin: 0;

        @include tablet {
            text-align: center;
            font-size: 6rem;
        }
    }

    &__text {
        position: relative;
        font-size: 1rem;
        text-align: center;
        border-radius: 1.25rem;
        padding-block: 0.25rem;
        padding-inline: 1rem;
        z-index: 2;

        @include tablet {
        }

        &--lavender {
            color: $dark-lavender;
        }
    }

    &__cta {
        // width: 100%;
        @include flex-box(row);
        justify-content: center;
        gap: 1rem;
    }

    &__button {
        font-family: "Gaegu", sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin: 0;
        flex: 1;

        &-link {
            display: inline-block;
        }

        &--linkedin {
            background-color: $button-secondary-color;
            color: $button-primary-text;
            border: .0625rem solid $button-secondary-color;
            border-radius: 1.25rem;
            padding-block: 0.25rem;
            padding-inline: 1rem;

            &:hover {
                background-color: transparent;
                color: $button-hover-text;
                border: .0625rem solid $button-hover-border;
                transition: 0.5s ease-in-out;
                cursor: pointer;
            }
        }

        &--github {
            background-color: $button-primary-color;
            color: $button-primary-text;
            border: .0625rem solid $button-primary-color;
            border-radius: 1.25rem;
            padding-block: 0.25rem;
            padding-inline: 1rem;

            &:hover {
                background-color: transparent;
                color: $button-hover-text;
                border: .0625rem solid $button-hover-border;
                transition: 0.5s ease-in-out;
                cursor: pointer;
            }
        }
    }

    &__character {
        width: auto;
        height: 40%;
        animation: levitate 3s ease-in-out infinite;
        // margin-top: 5rem;

        @include tablet {
            height: 50%;
            margin-bottom: 1rem;
        }
    }

    &__arrow-icon {
        color: $global-text;
        animation: wiggle 3s ease-in-out infinite;
        margin-top: 3rem;

        @include tablet {
            margin-top: 5rem;
        }
    }
}

/* aligns down arrow icon */
a {
    text-align: center;
}