@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.blog {
    &__about {
        padding: 1rem;

        @include tablet {
            padding: 2rem;
        }

        &-header {
            font-family: "Playfair Display", sans-serif;
        }

        &-subheader {
            font-family: "Playfair Display", sans-serif;
            font-size: 1.25rem;
            margin-bottom: 0;
        }

        &-container {
            @include flex-box(column);

            @include tablet {
                @include flex-box(row);
                align-items: center;
                gap: 2rem;
            }

            &--disclaimer {
                background-color: #527392;
                margin-top: 1rem;
                padding: 1rem;
            }
        }

        &-image {
            &--me {
                width: 15rem;
                height: 15rem;
                object-fit: cover;
                object-position: center top;
                border-radius: 50%;
                align-self: center;
                margin-block: 1rem;
            }

            &--illustration {
                width: 15rem;
                height: auto;
                align-self: center;
                margin-top: 1rem;
            }
        }

        &-text {
            margin-block: 0.5rem;
            
            &--italics {
                font-style: italic;
            }

            &--disclaimer {
                color: #FFFFFF;
            }
        }

        &-link {
            color: #B5907B;
            font-weight: 400;
            display: inline;

            &:hover {
                color: #23272B;
                transition: 0.5s ease-in-out;
            }
        }
    };

    &__wrapper {
        &--image {
            @include tablet {
                order: 2;
            }
        }
    }
};