@use "./partials/fonts.scss" as *;
@use "./partials/variables.scss" as *;
@use "./partials/mixins.scss" as *;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $global-background;
    color: $global-text;
    font-family: "Garet", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.blog {
    // section padding
    &__post, &__posts, &__category, &__contact, &__resources {
        padding: 1rem;

        @include tablet {
            padding: 2.5rem;
        }

        @include desktop {
            padding-inline: 15rem;
            padding-bottom: 2.5rem;
        }
    }

    &__heading {
        font-family: $blog-secondary-font;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }

    &__subheading {
        font-family: $blog-secondary-font;
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: 0.1rem;

        &--small {
            font-family: $blog-secondary-font;
            color: #B5907B;
            font-size: 0.9rem;
            font-weight: 500;
            letter-spacing: 0.1rem;
            text-align: center;
            margin-bottom: 0.5rem;
        }

        &--white {
            color: white;
        }

        &--remove-top-margin {
            margin-top: 0;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__label {
        font-family: $blog-secondary-font;
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
    }

    &__text {
        &--remove-bottom-margin {
            margin-bottom: 0;
        }
    }

    &__divider {
        padding-top: 1.5rem;
    }
}