// import partials
@use "../../styles/partials/variables.scss" as *;

@keyframes levitate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.625rem);
    }
    100% {
        transform: translateY(0);
    }
}

.floating-button {
    position: fixed;
    background-color: $floating-button;
    border-radius: 50%;
    padding: 0.8rem 1rem;
    bottom: 0;
    right: 0;
    margin: 1rem;
    animation: levitate 3s ease-in-out infinite;
    opacity: 80%;
    z-index: 9999;
}

.floating-button:hover {
    background-color: $floating-button-hover;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}