// import partials
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.contact {
    margin-bottom: 1rem;
    
        &__header {
        @include m-page-header($global-header);
    }

    &__text {
        @include m-body($global-text);
        text-align: center;
    }

    &__buttons {
        @include flex-box(row);
        justify-content: flex-end;
        gap: 0.5rem;
        margin-bottom: 0;
    }

    &__form {
        @include desktop {
            width: 50%;
        }
    }
}

.input {
    &__wrapper {
        margin-bottom: 15px;
    }

    &__field {
        width: 100%;
        font-family: "Garet", sans-serif;
        @include m-body($global-text);
        padding: 10px 0;
        background: none;
        border: none;
        border-bottom: 1px solid #666;
        text-transform: uppercase;
        outline: none;
        transition: border-color .2s;

        &::placeholder {
            font-family: "Garet", sans-serif;
        }
    }
}

.button {
    width: 100%;
    font-family: "Gaegu", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1.25rem;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;

    &--cancel {
        background-color: $light-grey;
        color: $black-medium;
        border: .0625rem solid $light-grey;

        &:hover {
            background-color: #4d4d4f;
            color: $light-grey;
            border: .0625rem solid #4d4d4f;
            transition: 0.5s ease-in-out;
            cursor: pointer;
        }
    }

    &--send {
        background-color: $button-primary-color;
        color: white;
        border: .0625rem solid $button-secondary-color;

        &:hover {
            background-color: #4d4d4f;
            color: $light-grey;
            border: .0625rem solid #4d4d4f;
            transition: 0.5s ease-in-out;
            cursor: pointer;
        }
    }
}

.container {
    flex: 0 1 700px;
    margin: auto;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;

    @include tablet {
        padding-block: 1rem;
        padding-inline: 7rem;
    }

    @include desktop {
        padding-block: 1rem;
        padding-inline: 15rem;
    }
}

.screen {
    position: relative;
    background: $oat;
    border: .0625rem solid $light-grey;
    border-radius: 15px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
        z-index: -1;
    }

    &__header {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background: #4d4d4f;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        &--left {
            margin-right: auto;
        }

        &--right {
            display: flex;
        }

        &-button {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 3px;
            border-radius: 8px;
            background: white;

            &--close {
                background-color: $light-blue;
            }

            &--maximize {
                background-color: $pale-orange;
            }

            &--minimize {
                background-color: $pale-red;
            }
        }

        &-ellipsis {
            width: 3px;
            height: 3px;
            margin-left: 2px;
            border-radius: 8px;
            background: #999;
        }
    }

    &__content {
        @include flex-box(column);
        padding: 1.5rem;

        @include tablet {
            padding: 2.5rem;
        }

        @include desktop {
            @include flex-box(row);
            flex-wrap: wrap;
            padding: 2.5rem;
        }

        &-item {
            flex: 1;
            padding-block: 1.5625rem;

            @include tablet {
                padding-block: 2.5rem;
            }

            @include desktop {
                padding-block: 2.5rem;
            }

            &--left {
                @include flex-box(column);
                align-items: center;
            }
        }
    }
}

.MuiFormLabel-root {
    font-family: "Garet", sans-serif !important;
    font-size: 1rem !important;
    color: $dark-lavender !important;
}

.MuiInputBase-input {
    font-family: "Garet", sans-serif !important;
    font-size: 0.75rem !important;
    padding-top: 2rem !important;
}

#message {
    padding: 0 !important;
}