@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.about {
    padding-block: 4rem;
    padding-inline: 1rem;

    @include tablet {
        padding: 7rem;
    }
    
    &__subheader {
        @include m-sub-header($teal);
        text-align: center;
    }

    &__text {
        @include m-body($global-text);
        padding-bottom: 1rem;
    }
}