@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.about {
    background-color: white;
    padding-block: 4rem;
    padding-inline: 1rem;

    @include tablet {
        padding-block: 3rem;
        padding-inline: 10rem;
    }

    @include desktop {
        padding-block: 4.5rem;
        padding-inline: 20rem;
    }
    
    &__header {
        @include m-page-header($global-header);
        text-align: center;

        @include tablet {
            @include td-page-header($global-header);
        }

        @include desktop {
            @include td-page-header($global-header);
        }
    }

    &__text {
        @include m-body($global-text);
        padding-bottom: 1rem;

        @include tablet {
            @include td-body($global-text);
        }

        @include desktop {
            @include td-body($global-text);
        }
    }
}