// import styling
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.modal {
    &__box {
        background-color: white;
        border-radius: 0.25rem;
        padding: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: auto;

        @include tablet {
            width: 87vw;
            height: auto;
            padding: 2rem;
        }

        @include desktop {
            width: 65vw;
            height: auto;
            padding: 2rem;
        }
    }

    &__title {
        font-family: "Garet Book", sans-serif !important;
        @include m-body($teal !important);
        margin-bottom: 0.5rem;
        text-align: center;

        @include tablet {
            @include td-sub-header($teal !important);
        }

        @include desktop {
            @include td-sub-header($teal !important);
        }
    }

    &__close-btn {
        font-family: "Garet Book", sans-serif !important;
        @include m-body($teal !important);
        display: block;
        margin: 0 auto;

        @include tablet {
            @include td-body($teal !important);
        }

        @include desktop {
            @include td-body($teal !important);
        }
    }
}