// import partials
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.modal {
    &__box {
        background-color: $modal-background;
        border-radius: 0.25rem;
        padding: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: auto;

        @include tablet {
            width: 87vw;
            height: auto;
            padding: 2rem;
        }

        @include desktop {
            width: 65vw;
            height: auto;
            padding: 2rem;
        }

        @media (min-width: 1281px) {
            width: auto;
            max-width: 1280px;
        }
    }

    &__wrapper {
        @include flex-box(row);
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__title {
        font-family: $modal-font !important;
        font-size: 1.8rem !important;
        color: $modal-title !important;
        font-weight: bold !important;
        text-transform: uppercase;
        margin-bottom: 0.5rem;

        @include tablet {
            @include td-sub-header($modal-title !important);
        }

        @include desktop {
            @include td-sub-header($modal-title !important);
        }
    }

    &__img {
        width: 100%;

        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 50%;
        }
    }

    &__close-btn {
        background-color: $modal-button !important;
        @include m-body($modal-title !important);
        display: block;
        margin: 0 auto;

        @include tablet {
            @include td-body($modal-title !important);
        }

        @include desktop {
            @include td-body($modal-title !important);
        }
    }
}