// import styling
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

header {
    width: 100%;
    height: auto;
    @include flex-box(column);
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 1000;
    box-sizing: border-box;

    @include tablet {
        @include flex-box(row);
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    @include desktop {
        @include flex-box(row);
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem;
    }
}

.portfolio-logo {
    width: auto;
    height: 3.125rem;
    order: 1;
}

.nav-bar {
    order: 2;
}