// import partials
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss" as *;

.header {
    @include flex-box(row);
    justify-content: space-between;
    padding-block: 0.5rem;
    padding-inline: 1rem;

    @include tablet {
        @include flex-box(row);
        align-items: center;
    }

    @include desktop {
        @include flex-box(row);
        align-items: center;
    }
    
    &__icon {
        width: auto;
        height: 50px;

        @include tablet {
            width: auto;
            height: 50px;
            margin-left: 1.5rem;
        }

        @include desktop {
            width: auto;
            height: 50px;
            margin-left: 2rem;
        }
    }
}

.navbar {
    width: 100%;

    @include mobile {
        @include flex-box(row);
        justify-content: end;
        align-items: center;
    }

    @include between-mobile-tablet {
        @include flex-box(row);
        justify-content: end;
        align-items: center;
    }

    @include tablet {
        width: 60%;
    }

    @include desktop { 
        width: 60%;
    }

    &__hamburger {
        @include tablet {
            display: none;
        }
        
        @include desktop {
            display: none;
        }
    }

    &__full {
        @include mobile {
            display: none;
        }

        @include between-mobile-tablet {
            display: none;
        }
        
        @include tablet {
            @include flex-box(row);
            justify-content: space-between;
        }

        @include desktop {
            @include flex-box(row);
            justify-content: space-between;
        }
    }

    &__link {
        color: $navbar-primary-text;
        font-family: "Gaegu", sans-serif;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        margin: 0;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 1.8rem;
        }

        &:hover {
            color: $navbar-link-hover;
            transition: 0.5s ease-in-out;
            cursor: pointer;
        }

        &--resume {
            color: $navbar-accent-text;

            &:hover {
                color: $navbar-secondary-link-hover;
                transition: 0.5s ease-in-out;
                cursor: pointer;
            }
        }
    }
}