// import styling
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.carousel {
  --slide-spacing: 1rem;
  --text-body: rgb(54, 49, 61);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --text-high-contrast-rgb-value: 49, 49, 49;

  &__viewport {
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  &__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  &__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 100%;
    min-width: 0;
    height: 40vh;
    padding-left: var(--slide-spacing);
    box-sizing: border-box;

    @include tablet {
      height: 55vh;
    }

    @include desktop {
      height: 65vh;
    }
  }

  &__controls {
    @include flex-box(row);
    justify-content: space-around;
    gap: 4rem;

    @include tablet {
      justify-content: space-around;
            padding: 0;
    }

    @include desktop {
      justify-content: space-around;
      padding: 0;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }

  &__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 1.6rem;
    height: 1.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button:disabled {
    color: var(--detail-high-contrast);
  }
  
  &__button-svg {
    width: 30%;
    height: 30%;
  }

  &__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  }

  &__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__dot:after {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }

  &__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem $teal;;
  }
}

.card {
  background-color: $card-background;
  @include flex-box(row);
  box-sizing: border-box;
  height: 89%;
  border-radius: 0.25rem;
  perspective: 1000px;
  margin-bottom: 1rem;

  &__subheader {
    @include m-sub-header($card-subheader);
    margin-top: 0;

    @include tablet {
      @include td-sub-header($card-subheader);
    }

    @include desktop {
      @include td-sub-header($card-subheader);
    }
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(180deg);
    }
  }

  &__front,
  &__back {
    @include flex-box(column);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    padding: 1rem;

    @include tablet {
      @include td-body($white);
      padding: 2rem;
    }

    @include desktop {
      @include td-body($white);
      padding: 2.5rem;
    }

  }

  &__front {
    justify-content: center;
    align-items: center;
    z-index: 2;
  }


  &__back {
    transform: rotateY(180deg);
    border-radius: 0.25rem;
    @include m-body($white);
    height: 100%;
    scroll-behavior: smooth;
    overflow: auto;
    z-index: 3;
  }

  &__list {
    @include flex-box(row);
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    background-color: $teal;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }

  &__text {
    @include m-body($card-text);
    margin: 0 0 1rem 0;
    padding: 0;

    @include tablet {
      @include td-body($card-text);
    }

    @include desktop {
      @include td-body($card-text);
    }

    &--features-title {
      @include m-body($card-subheader);
      margin: 0;

      @include tablet {
        @include td-body($card-text);
      }

      @include desktop {
        @include td-body($card-text);
      }
    }

    &--features {
      @include m-body($card-text);

      @include tablet {
        @include td-body($card-text);
      }

      @include desktop {
        @include td-body($card-text);
      }
    }

    &--tools {
      @include m-body($card-tools-text);
      margin-block: 0.25rem;

      @include tablet {
        @include td-body($card-text);
      }

      @include desktop {
        @include td-body($card-tools-text);
      }
    }
  }

  &__img {
    position: relative;
    z-index: 4;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    &-wrapper {
      @include flex-box(row);
      justify-content: center;
      overflow: hidden;
      max-width: 100%;
      max-height: 100%;
    }
  }
}