@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.carousel {
  --slide-spacing: 1rem;

  &__viewport {
    overflow: hidden;
    width: 100%; // Add this
    position: relative; // Optional, for better containment
  }

  &__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  &__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 100%;
    min-width: 0;
    height: 50vh;
    padding-left: var(--slide-spacing);
    box-sizing: border-box;

    @include tablet {
      width: 50vw;
      height: 75vh;
    }

    @include desktop {
      height: 75vh;
    }
  }

  &__controls {
    @include flex-box(row);
    gap: 4rem;
    padding-inline: 1rem;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }

  &__button {
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid $light-black;
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
    z-index: 1;
    border-radius: 50%;
    // color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $teal;
      transition: 0.3s ease-in-out;
    }

    &:disabled {
      color: red;
    }
  }

  &__button-svg {
    width: 35%;
    height: 35%;
  }

  &__dots {
    @include flex-box(row);
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }

  &__dot {
    background-color: transparent;
    touch-action: manipulation;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;

    &::after {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      gap: 1rem;
      content: '';
      border: .0625rem solid white;
    }

    &--selected {
      &::after {
        border: .0625rem solid $teal;
      }
    }
  }

}

.card {
  background-color: $card-background;
  @include flex-box(row);
  padding: 1rem;
  height: 85%;
  border-radius: 0.25rem;
  perspective: 1000px;
  margin-bottom: 1rem;
  opacity: 100%;

  &__subheader {
    @include m-sub-header($card-subheader);

    &--small {
      @include m-sub-header-sm($card-subheader);
      margin-top: 0.5rem;
    }
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(180deg);
    }
  }

  &__front,
  &__back {
    @include flex-box(column);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
  }

  &__front {
    justify-content: center;
    align-items: center;
    z-index: 2;
  }


  &__back {
    transform: rotateY(180deg);
    border-radius: 0.25rem;
    @include m-body($white);
    overflow: auto;
    scroll-behavior: smooth;
    z-index: 3;
  }

  &__list {
    @include flex-box(row);
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    background-color: $teal;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }

  &__text {
    @include m-body($card-text);
    margin: 0 0 1rem 0;
    padding: 0;

    &--features-title {
      @include m-body($card-subheader);
      margin: 0;
    }

    &--features {
      @include m-body($card-text);
    }

    &--tools {
      @include m-body($card-tools-text);
      margin-block: 0.25rem;
    }
  }

  &__laptop {
    position: relative;
  }

  &__img {
    // background-image: url("/src/assets/images/laptop-screen.png");
    width: 100%;
    height: auto;
    position: relative;
    z-index: 4;

    @include desktop {
      width: 80%;
    }
  }
}