@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables" as *;


.projects {
    padding-block: 0.5rem;
    padding-inline: 1.5rem;

    &__header {
        @include m-page-header($global-header);
    }

    &__list {
        list-style: none;
        padding: 0;
    }
}