// import styling
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

footer { 
    @include m-body($global-text);
    text-align: center;
    padding: 1rem;

    @include tablet {
        @include td-body($global-text);
        padding: 2rem;
    }

    @include desktop {
        @include td-body($global-text);
        padding: 2.5rem;
    }
}