@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss" as *;

.blog {
    &__faqs {
        &-text {
            margin-block: 0.5rem;
            
            &--italics {
                font-style: italic;
            }

            &--answer {
                color: #B5907B;
            }
        }
    }
}

.MuiAccordion-heading {
    font-size: 1rem !important;
}