@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss" as *;

.blog {
    &__sub-nav {
        @include flex-box(row);
        justify-content: center;
        align-items: center;
        gap: 1rem;

        &-label {
            font-family: "Playfair Display", sans-serif;
            letter-spacing: 0.1rem;
        }

        &-list {
            @include flex-box(row);
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &-link {
            color: #762D1C;
            font-size: 0.85rem;
            font-weight: 400;

            &:hover {
                color: #000000;
                transition: 0.5s ease-in-out;
            }
        }
    }
}