// import styling
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.accordion {
    &__text {
        color: $black;
        margin: 0;

        &--tools {
            padding-top: 1.5rem;
        }

        &--bold {
            color: $black;
            font-weight: bold;
            margin: 0 0 0.5rem 0;
        }
    }
}