// import partials
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.MuiAccordion-heading {
    font-size: 0.75rem !important;

    @include tablet {
        font-size: .8125rem !important;
    }

    @include desktop {
        font-size: .8125rem !important;
    }
}