// import styling
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.project {
    padding: 1rem;

    &__subheader {
        @include m-sub-header($white);
    }
}

.card {
    background-color: $light-black;
    position: relative;
    height: 30vh;
    width: 100%;
    z-index: 1;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        background-image: url("../../assets/images/laptop-screen.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(.95);
        transform-origin: center;
        z-index: 2;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        overflow: hidden;
        height: 24vh;
    }

    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__img {
        width: 81%;
        height: auto;
        transform: translateY(32%);
    }
}