// import styling
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.projects {
    padding-block: 4rem;
    padding-inline: 1rem;

    @include tablet {
        padding-block: 4rem;
        padding-inline: 4rem;
    }

    @include desktop {
        padding-block: 4rem;
        padding-inline: 10rem;
    }
}

.project {
    &__subheader {
        @include m-sub-header($white);
        text-align: center;

        &--small {
            @include m-sub-header-sm($white);
            text-align: center;
        }
    }

    &__text {
        @include m-body($white);
        font-style: italic;
        text-align: center;
    }
}